body {
    background-image:    url("../images/3series.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-attachment: fixed;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgba(255,255,255,0.1);
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: orange;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 185%;

}

#divaka {
    position: fixed;
    left: 11%;
	height:100%;
	width:26%;
    background-color: white;
    border-radius: 2%;
    font-family: Impact;
  
}
#ludaka {
    position: fixed;
    left: 38%;
    height:100%;
    width:26%;
    background-color: white;
    border-radius: 2%;
    font-family: Impact;
}

p {
	color: black;
    font-size: 250%;
}
#map {
        height: 400px;
        width: 100%;
       }
